.first-level-card .card-front {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px;
	background-color: #3188ab;
	border-radius: 5px;
}

.second-level-card .card-front {
	font-weight: bold;
	color: #3188ab;
	background-color: #d9e2e8;
}

.third-level-card .card-front {
	background-color: #fff;
}

.fourth-level-card .card-front {
	background-color: #fff1e2;
}

.fifth-level-card .card-front {
	background-color: #fff;
}

.flip-container {
	display: none;
	position: fixed;
}

.flipper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.flipper .card-front {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 5px;
}

.card-back {
	box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
	background: #f0f0f0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	border-radius: 5px;
	overflow: hidden;
}

.unflip-button {
	cursor: pointer;
}

.card-back-header h4 {
	margin: 0;
	padding: 0;
	line-height: 40px;
}

.card-back-header {
	padding: 0 1em;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
}

.card-back-main {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 1em;

	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 60px;
}

.card-back-footer {
	border-top: 1px solid #ddd;
	padding: 0 1em;
	height: 60px;
	line-height: 60px;

	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
}

/*
	Animations scoped for browsers
	that are _not_ IE11 and older.
*/

.not-IE .card-back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);

	-webkit-transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}

.not-IE .flipper .card-front {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.not-IE .flipper {
	-webkit-transition: 0.5s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	transition: 0.5s;
	transform-style: preserve-3d;
}

.not-IE .flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	perspective: 1000;
}

.not-IE .flip-container.flipped .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}